<p>
    <strong>Articles & Projects</strong>
</p>

{% assign articles = site.data.articles %}
{% for post in site.posts %}
{% assign articles = articles | push: post %}
{% endfor %}
{% assign articles = articles | sort: "date" | reverse %}

<ul>
    {% for article in articles %}
    <li>
        <small>
            <time datetime="{{ article.date | date_to_xmlschema }}">{{ article.date | date: "%m/%Y" }}</time>
        </small>
        {% if article.img %}
        <img src="{{ article.img }}" width="20" height="20" style="vertical-align:middle;" border="0"/>
        {% else %}
         -
        {% endif %}
        <a href="{{ article.url }}">
            {{ article.title }}
        </a>
    </li>
    {% endfor %}
</ul>