<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Julien Moumné, Julien Moumne, resume, profile, articles, software, craftsmanship"/>
  <link rel="canonical" href="{{ site.canonical }}"/>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {% if page.type == "reading-notes" %}
        Reading Notes &middot;
      {% endif %}
      {{ page.title }}
      &middot;
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.github.url }}/stylesheets/pygments/github.css">

  <style>
    @media (min-width: 1200px) {
      .container{
        max-width: 90rem;
      }
    }

    body {
      font-size: 16px;
    }

    .title {
      padding-bottom: 30px;
    }

    .date {
      display: block;
      margin-top: -.5rem;
      margin-bottom: 1rem;
      color: #9a9a9a;
    }
  </style>

</head>
