<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Julien Moumné, Julien Moumne, resume, profile, articles, software, craftsmanship"/>
  <link rel="canonical" href="{{ site.canonical }}"/>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {% if page.type == "reading-notes" %}
        Reading Notes &middot;
      {% endif %}
      {{ page.title }}
      &middot;
      {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.min.css">

</head>
