html {
  font-size: 16px;
}

img {
  display: inline;
  margin: 0;
}

.photo {
  width: 40px;
}

.halves {
  width: 50%;
  float: left;
  padding: 15px;
}

.container {
  max-width: 60rem;
}

.social-links {
  text-align: right;
}

.masthead {
  margin-bottom: 2rem;
}