<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container">
    <div class="title row">
        <div class="col-md-12">
            <h3>
                <!--<img src="https://media-exp1.licdn.com/dms/image/C4E03AQGSZsGQvJmYiA/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=IP07KqjanqDta0eB9ZFgdHmcVHCGuLFyjFrsGmVKwr8"
                     style="border-radius: 50%; width: 60px;"/>-->
                {{ site.title }}
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>

    <div class="row">
        {{ content }}
    </div>
</div>

{% include piwik.html %}

</body>
</html>
