<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container">
    <div class="title row">
        <div class="col-md-12">
            <h3>
                <img src="https://scontent-cdt1-1.cdninstagram.com/vp/12aeefef8fb7230aa0c3deee44c5f37a/5DE57EA3/t51.2885-19/s150x150/67247600_718243001958884_1201358625352712192_n.jpg?_nc_ht=scontent-cdt1-1.cdninstagram.com"
                     style="border-radius: 50%; width: 60px;"/>
                {{ site.title }}
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>

    <div class="row">
        {{ content }}
    </div>
</div>

{% include piwik.html %}

</body>
</html>
